---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

// Generar rutas estáticas usando 'id' como parámetro
export async function getStaticPaths() {
  const books = await getCollection("books");
  
  return books.map((book) => ({
    params: { id: book.slug },
    props: { book }   
  }));
}

// Recibir props
const { book } = Astro.props;
const { slug, data } = book;
const { title, author, editorial, img, readtime, download } = data;

const { Content } = await render(book);
---

<Layout title={title} >
  <div class="flex flex-col sm:flex-row gap-6 sm:gap-12">
    
    <!-- ASIDE visible en pantallas horizontales y escritorio -->
    <aside class="hidden sm:flex flex-col items-center gap-4 w-full sm:w-auto">
      <a href={`/`} class="hover:opacity-50 opacity-70"> <span>&#8592;</span> Atrás </a>
      <img 
        transition:name={`img-${img}`}
        src={`/${img}`} 
        alt={`Portada de ${title}`} 
        class="w-full max-h-[500px] object-contain rounded-lg shadow-lg"
      />
      <p class="text-center text-gray-500 text-sm">⏲️ {readtime} horas</p>
      <p class="text-center text-gray-500 text-sm">Autor: {author}</p>
      <p class="text-center text-gray-500 text-sm">Editorial: {editorial}</p>
      <a 
        href={download.mexico}
        target="_blank"
        rel="noopener noreferrer"
        class="px-4 py-2 bg-gray-800 hover:bg-gray-700 hover:scale-110 text-white rounded-full transition-colors"
        download={`Portada-${title}.jpg`}
      >
        Descargar Libro
      </a>
    </aside>
    
    <!-- MAIN: título, imagen/detalles (solo en vertical), sinopsis -->
    <main class="max-w-2xl w-full">
      <h1 transition:name={`title-${slug}`} class="text-3xl sm:text-4xl font-bold mb-6">{title}</h1>

      <!-- Imagen y detalles SOLO en pantallas verticales -->
      <div class="flex flex-col items-center gap-4 mb-6 sm:hidden">
        <img 
          transition:name={`img-${img}`}
          src={`/${img}`} 
          alt={`Portada de ${title}`} 
          class="w-full max-h-[500px] object-contain rounded-lg shadow-lg"
        />
        <p class="text-center text-gray-500 text-sm">⏲️ {readtime} horas</p>
        <p class="text-center text-gray-500 text-sm">Autor: {author}</p>
        <p class="text-center text-gray-500 text-sm">Editorial: {editorial}</p>
        <a 
          href={download.mexico}
          target="_blank"
          rel="noopener noreferrer"
          class="px-4 py-2 bg-gray-800 hover:bg-gray-700 hover:scale-110 text-white rounded-full transition-colors"
          download={`Portada-${title}.jpg`}
        >
          Descargar Libro
        </a>
      </div>

      <!-- Sinopsis -->
      <div class="prose prose-invert mb-8">
        <Content/>
      </div>
    </main>
  </div>
</Layout>
